h1{
    text-align: center;
}
.container{
    min-height: 70vh;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myForm .myInp{
    margin: 10px 0px;
    width: 25vw;
}