//- layout.pug
doctype html
html
  head
    title= title
    block scripts
    block style 
    
  body
    h2 
      //- | #{content} 
      | Welcome to CRUD application
   
    //- div#navbar 
    //-     ul.center
    //-         li #[a(href="/") Home]
            //- li #[a(href="/contact") contact]
            //- li services 

    block content
    //- block foot
    //- footer#footer.center
    //-     | section for footer 






